<div *ngIf="gameDetail | async as game">
  <h2 class="titulo">{{ game.title }}</h2>
  <div class="container">
    <img class="mx-auto d-block" [src]="game.thumbnail" />
  </div>
  <div class="description mx-auto d-block">
    <div class="mb-3 mt-3 mx-3 my-3">
      <b>DESCRIPTION:</b>
      {{ game.description }}
    </div>
    <br />
    <div class="mb-3 mt-3 mx-3 my-3">
      <div>{{ game.status }}</div>
      <div>{{ game.short_description }}</div>
      <div>{{ game.genre }}</div>
      <div>{{ game.platform }}</div>
      <div>{{ game.publisher }}</div>
      <div>{{ game.developer }}</div>
      <div>{{ game.release_date }}</div>
    </div>
    <br />
    <div class="mb-3 mt-3 mx-3 my-3">
      <a href="{{ game.game_url }}" target="_blank">{{ game.game_url }}</a>
      <br />
      <a href="{{ game.freetogame_profile_url }}" target="_blank">{{
        game.freetogame_profile_url
      }}</a>
    </div>
  </div>
  <div class="bottom">
    <img
      class="img mx-auto d-block"
      *ngFor="let screenshot of game.screenshots"
      [src]="screenshot.image"
    />
  </div>
</div>
